<div class="container mx-auto my-20 h-full min-h-screen border-8 border-slate-900 p-12">
    <div class="flex flex-col justify-evenly h-full min-h-screen">
        <div class="">
            <h1 class="text-6xl font-bold text-center 12">Listado de clientes</h1>
            <div class="flex flex-col items-center mt-12">
                <p class="text-3xl text-center p-2.5"><em>Filtrar por clientes</em></p>
                <div class="flex items-center">
                    <input required class="border border-4 border-slate-900 h-16 w-96 text-3xl p-2" type="text"
                        ng-model="$ctrl.query" />
                </div>
            </div>
        </div>
        <div class="border-8 border-slate-900 self-center">
            <div class="overflow-y-auto" style="max-height: 1000px; min-height: 600px;">
                <table class="table-auto w-full border-separate border-spacing-2 text-3xl text-center">
                    <thead>
                        <tr>
                            <th scope=" col">ID</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellido</th>
                            <th scope="col">Tipo de corte</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="animate-repeat" ng-repeat="venta in $ctrl.ventas | filter:$ctrl.query">
                            <th scope="row">{{venta.id}}</th>
                            <td>{{venta.name_cli}}</td>
                            <td>{{venta.l_name_cli}}</td>
                            <td>{{venta.cut_name}}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="loading" ng-if="$ctrl.loading">
                </div>
            </div>
        </div>
    </div>
</div>