/* Estilos generales */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: 'Poppins' !important;
    padding: 0;
    margin: 0;
}

/* Sidebar */

.sidebar img {
    cursor: pointer;
    width: 65%;
    height: 65%;
}

.sidebar {
    border-bottom: 5px solid black;
}

/* Menú Coste */
.menu__costes__img {
    width: 50%;
}

/* Formularios */
.contenedor {
    border: 8px solid black;
}

.h1__title {
    font-size: 60px;
}

.h2__subtitle {
    font-size: 40px;
}

.form__img {
    width: 45%;
}

.btn {
    width: 200px;
}

a {
    text-decoration: none;
    color: black;
}