/* Estilos generales */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: 'Poppins' !important;
    padding: 0;
    margin: 0;
}

.grafica {
    display: block;
    margin: auto;
    width: 650px !important;
    height: 650px !important;
}

/* Alertify */
.ajs-header {
    font-size: 40px;
}

.ajs-body {
    font-size: 35px;
    text-align: center;
}

/* Efecto Loading */
.loading {
    display: flex;
    justify-content: center;
}

.loading::after {
    content: "";
    width: 70px;
    height: 70px;
    border: 10px solid rgb(124, 126, 125);
    border-top-color: black;
    border-bottom-color: black;
    border-radius: 50%;
    animation: loading 1s ease infinite;
}

@keyframes loading {
    to {
        transform: rotate(1turn);
    }
}

/* ngAnimate */

.loading.ng-enter {
    transition: 0.3s ease-in-out all;
    transform: translateY(-100%);
    opacity: 0;
}

.loading.ng-enter.ng-enter-active {
    opacity: 1;
    transform: translateY(0%);
}

.animate-repeat {
    line-height: 30px;
    list-style: none;
    box-sizing: border-box;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
    transition: all ease 0.3s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
    opacity: 0;
    max-height: 0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
    opacity: 1;
    max-height: 30px;
}

/* Sidebar */

/* .sidebar img {
    cursor: pointer;
    width: 65%;
    height: 65%;
}

.sidebar {
    border-bottom: 5px solid black;
} */

/* Menú Coste */
/* .menu__costes__img {
    width: 50%;
} */

/* Formularios */
/* .contenedor {
    border: 8px solid black;
}

.h1__title {
    font-size: 60px;
}

.h2__subtitle {
    font-size: 40px;
}

.form__img {
    width: 45%;
}

.btn {
    width: 200px;
}

a {
    text-decoration: none;
    color: black;
} */