<div class="container mx-auto my-20 h-screen border-8 border-slate-900 p-12">
    <h1 class="text-6xl font-bold text-center 12">Registrar cliente</h1>
    <form class="flex flex-col justify-evenly h-full" ng-submit="$ctrl.registrarUsuario()">
        <div class="flex flex-col justify-center">
            <h2 class="text-5xl text-center 4">Nombre del cliente</h2>
            <input class="text-center mx-auto border-4 border-slate-900 rounded-2xl p-1.5 text-4xl py-2.5 px-3 w-96"
                type="text" name="name_cli" id="nombre" ng-model="$ctrl.nombre">
        </div>
        <div class="flex flex-col justify-center">
            <h2 class="text-5xl text-center 4">Apellido del cliente</h2>
            <input class="text-center mx-auto border-4 border-slate-900 rounded-2xl p-1.5 text-4xl py-2.5 px-3 w-96"
                type="text" name="l_name_cli" id="apellido" ng-model="$ctrl.apellido">
        </div>
        <div class="flex flex-col justify-center">
            <h2 class="text-5xl text-center 4">Tipo de corte</h2>
            <input class="text-center mx-auto border-4 border-slate-900 rounded-2xl p-1.5 text-4xl py-2.5 px-3 w-96"
                list="cortes" name="id_cut_type" id="corte" ng-model="$ctrl.corte" ng-change="$ctrl.getIDCorte()" />
            <datalist id="cortes">
            </datalist>
        </div>
        <img class="w-64 14 mx-auto" src="./img/007-tijeras.png" alt="tijeras">
        <br>
        <div class="flex justify-between">
            <button class="border-4 border-slate-900 rounded-2xl p-1.5 text-5xl py-2.5 px-3">CANCELAR</button>
            <button class="border-4 border-slate-900 rounded-2xl p-1.5 text-5xl py-2.5 px-3">ACEPTAR</button>
        </div>
    </form>
</div>